version: "3.3"

services:
  database:
    hostname: database
    build:
      context: .
      dockerfile: ./build/db.Dockerfile
  frontend:
    hostname: frontend
    build:
      context: .
      dockerfile: ./build/frontend.Dockerfile
    ports:
      - "8887:8887"
    image: ktlh/frontend
  rabbit:
    restart: on-failure
    image: rabbitmq
    hostname: rabbit
    ports:
      - "5672:5672"
  auth:
    build:
      context: .
      dockerfile: ./build/auth.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8010"
    ports:
      - "8010:8010"
    image: ktlh/auth
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  airport:
    restart: on-failure
    build:
      context: .
      dockerfile: ./build/airport.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8020"
    ports:
      - "8020:8020"
    image: ktlh/airport
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  bonus:
    build:
      context: .
      dockerfile: ./build/bonus.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8050"
    ports:
      - "8050:8050"
    image: ktlh/bonus
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  flight:
    build:
      context: .
      dockerfile: ./build/flights.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8030"
    ports:
      - "8030:8030"
    image: ktlh/flight
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  gateway:
    build:
      context: .
      dockerfile: ./build/gateway.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8000"
    ports:
      - "8000:8000"
    image: ktlh/gateway
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  reports:
    build:
      context: .
      dockerfile: ./build/reports.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8060"
    ports:
      - "8060:8060"
    image: ktlh/reports
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s
  tickets:
    build:
      context: .
      dockerfile: ./build/tickets.Dockerfile
      labels:
        kompose.service.type: LoadBalancer
    links:
      - database
    expose:
      - "8040"
    ports:
      - "8040:8040"
    image: ktlh/tickets
    deploy:
      mode: replicated
      replicas: 1
      restart_policy:
        condition: on-failure
        delay: 5s
        window: 30s






