#navbar {
    overflow: hidden;
    background-color: #2E6788;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky  {
    padding-top: 60px;
}

form {
    padding: 20px;
    margin: 30px;
    border: #333333 1px;
    border-style: dotted;
    border-radius: 4%;
    justify-content: center;
}

.ticket-item {
    border-radius: 50px;
    background: #c4b2cb;
    box-shadow:  6px 6px 11px #a59ea8,
    -6px -6px 11px #fff6ff;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 20px;
}

body {
    background: #e0e0e0;
}

.airport-items {
    display: inline-block;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  8px 8px 5px #bebebe,
    -8px -8px 5px #ffffff;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 30px;
}

.airport-item {
    display: block;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  8px 8px 5px #bebebe,
    -8px -8px 5px #ffffff;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 30px;
}

.flight-item {
    display: block;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  8px 8px 5px #bebebe,
    -8px -8px 5px #ffffff;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 30px;
}

.user-item {
    border-radius: 30px;
    background: #d8caca;
    box-shadow:  6px 6px 11px #a89e9e,
    -6px -6px 11px #fff6f6;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 30px;
}

.btn {
    display: inline-block;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 27px;
    background: #8ac1b4;
    box-shadow:  9px 9px 17px #6c978c,
    -9px -9px 17px #a8ebdc;
}

.platform {
    margin: 60px 45px 35px 45px;
    padding: 60px 45px 35px 45px;
    border-radius: 50px;
    background: #e0e0e0;
    box-shadow:  20px 20px 35px #bebebe,
    -20px -20px 35px #ffffff;

}

.username, .password, .role {
    display: block;
    margin-bottom: 30px;
    border-radius: 50px;
    place-content: center;
    justify-content: center;
}

.input-fields, .user-input, .pass-input{
    border-radius: 50px;
    width: 100%;
    color: #2E6788;
}