#navbar {
    overflow: hidden;
    background-color: #333;
}

#navbar a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;
}

.sticky  {
    padding-top: 60px;
}

form {
    padding: 20px;
    margin: 30px;
    border: #333333 1px;
    border-style: dotted;
    border-radius: 4%;
    justify-content: center;
}

.ticket-item {
    background: bisque;
    margin-top: 20px;
    margin-left:20px;
    margin-right: 20px;
    padding: 20px;
}


