name: Course work build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: echo in AWS
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: echo $(ls)
      - name: Upload test file
          uses: actions/upload-artifact@v2
          with:
            name: test
            path: ./testfile.txt
      - name: Transfer test file to server
          uses: appleboy/scp-action@v0.0.10
          with:
            host: ${{ secrets.HOST }}
              username: ${{ secrets.USER }}
              key: ${{ secrets.PRIVATE_KEY }}
            source: "test/testfile.txt"
            target: "/home/ubuntu/"
            strip_components: 1
      - name: DockerHub Login
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build Docker Images
        run: docker-compose -f docker-compose.yml up --build -d
      - name: Push Docker Image
        run: docker-compose push
      - name: Check
        run: echo 0

