name: Course work build

on:
  push:
    branches: [ main ]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v1
      - name: Upload test file
        uses: actions/upload-artifact@v2
        with:
          name: test
          path: ./build/kube.sh
      - name: Upload test file 2
        uses: actions/upload-artifact@v2
        with:
          name: test
          path: ./service/ingress.yaml
      - name: Download env
        uses: actions/download-artifact@v1
        with:
          name: test
      - name: Transfer test file to server
        uses: appleboy/scp-action@v0.0.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "test/kube.sh"
          target: "/home/ubuntu/"
          strip_components: 1
      - name: Transfer test file to server
        uses: appleboy/scp-action@v0.0.10
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          source: "test/ingress.yaml"
          target: "/home/ubuntu/"
          strip_components: 1
      - name: kube.sh in AWS
        uses: appleboy/ssh-action@v0.1.3
        with:
          host: ${{ secrets.HOST }}
          username: ${{ secrets.USER }}
          key: ${{ secrets.PRIVATE_KEY }}
          script: chmod +x kube.sh && ./kube.sh
      - name: DockerHub Login
        run: echo ${{ secrets.DOCKERHUB_PASSWORD }} | docker login -u ${{ secrets.DOCKERHUB_USERNAME }} --password-stdin
      - name: Build Docker Images
        run: docker-compose -f docker-compose.yml up --build -d
      - name: Push Docker Image
        run: docker-compose push
      - name: Check
        run: echo 0

